absl-py==1.4.0
aiofiles
aiosqlite
anyio
anytree==2.12.1
appnope
argon2-cffi
array-record==0.4.0
astropy==5.2.2
astroquery==0.4.6
asttokens
astunparse==1.6.3
attrs
Babel
backcall
beautifulsoup4
bleach
Bottleneck
Brotli
cachetools==5.3.2
certifi
cffi
chardet==5.2.0
charset-normalizer
click==8.1.7
comm
contourpy==1.1.1
cryptography
cycler==0.12.1
debugpy
decorator
defusedxml
deprecation==2.1.0
dm-tree==0.1.8
entrypoints
et-xmlfile==1.1.0
etils==1.3.0
executing
ExifRead==3.0.0
fastjsonschema
flatbuffers==23.5.26
fonttools==4.45.1
gast==0.4.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
grpcio==1.59.3
h5py
html5lib==1.1
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jaraco.classes==3.3.0
jedi
Jinja2
joblib==1.3.2
json-tricks==3.17.3
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.13.1
keras-tuner==1.4.6
keyring==24.3.0
kiwisolver==1.4.5
kt-legacy==1.0.5
libclang==16.0.6
Markdown==3.5.1
MarkupSafe
matplotlib==3.7.4
matplotlib-inline
mistune
more-itertools==10.1.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.1
notebook
notebook_shim
numexpr
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
opticalglass==1.0.7
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow==10.1.0
pkgutil_resolve_name
platformdirs
ply==3.11
prometheus-client
promise==2.3
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser
pyerfa==2.0.0.3
Pygments
pyOpenSSL
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
pyvo==1.4.2
PyYAML
pyzmq
QDarkStyle==3.0.3
qtconsole==5.3.2
QtPy
rayoptics==0.8.5
referencing
requests
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
Send2Trash
sip
six
sniffio
soupsieve
stack-data
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow==2.13.0
tensorflow-metadata==1.14.0
termcolor==2.3.0
terminado
threadpoolctl==3.2.0
tinycss2
toml==0.10.2
tomli
tornado
tqdm==4.66.1
traitlets
transforms3d==0.4.1
typing_extensions==4.5.0
tzdata
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.1
widgetsnbextension
wrapt==1.16.0
xlrd==2.0.1
y-py
ypy-websocket
zipp
